{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<p>Welcome students </p>
<p>This page is provide books and notes </p>
<a href="https://ncert.nic.in/textbook.php?jemh1=0-14"><button>10th class Mathametics book</button></a>
<a href="https://ncert.nic.in/textbook.php?ihks1=0-13"><button>10th class Hindi book</button></a>
<a href="https://ncert.nic.in/textbook.php?jeff1=0-9"><button>10th class English book</button></a>
<a href="https://ncert.nic.in/textbook.php?jesc1=0-13"><button>10th class Science book</button></a>
<a href="https://ncert.nic.in/textbook.php"><button>ALL Class's books here </button></a>

<a href="/attendance_record"><button>View Attendance Records</button></a>
{% endblock %}
https://ncert.nic.in/textbook.php