{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="post" action="/registration">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name }}
        {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.student_class.label }}<br>
        {{ form.student_class }}
        {% for error in form.student_class.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.roll_no.label }}<br>
        {{ form.roll_no }}
        {% for error in form.roll_no.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p class="registration">{{ form.submit() }}</p>
</form>
{% endblock %}
